certifi==2018.8.24
chardet==3.0.4
future==0.16.0
idna==2.7
oauthlib==2.1.0
Pillow==5.2.0
PySocks==1.6.8
python-twitter==3.4.2
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
tweepy==3.6.0
urllib3==1.24.2
